@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Cal+Sans&display=swap');




body{
  font-family: 'Cal Sans', sans-serif;
}


@theme {
    --font-display: "Cal Sans", sans-serif;
    
    
    --color-blackFigma: #0B0B0B;
    --color-brownFigma: #4E342E;
    --color-lightFigma: #FFFFF0;
    --color-softBeigeFigma: #F5E6CA;
    --color-paragraphFigma: #616161;
    --color-goldFigma: #CCA35A;
    --color-bgFigma: #f2f2f2;
  
    /* ... */
  }